<body class="container mt-5 text-center">
    <div class="card d-inline-block p-4 shadow">
        <h3>Módulo de Gastos</h3>
        <form action="/gastos/login" method="POST">
            <input type="password" name="password" class="form-control mb-3" placeholder="Contraseña" autofocus>
            <button class="btn btn-primary w-100">Entrar</button>
        </form>
    </div>
</body>
