<body class="container mt-5 text-center">
    <div class="card d-inline-block p-5 shadow border-danger">
        <h2 class="text-danger">ADMINISTRACIÓN</h2>
        <p>Introduce la contraseña de administrador para el Cierre.</p>
        <form action="/cierre/login" method="POST">
            <input type="password" name="password" class="form-control mb-3" placeholder="Contraseña Admin" autofocus required>
            <button class="btn btn-danger w-100">Entrar al Módulo de Cierre</button>
        </form>
    </div>
</body>
